[init]
	defaultBranch = main
[user]
	name = Geralt
	email = 94095435+NovigradWitcher@users.noreply.github.com
	signingkey = ~/.config/dotfiles/ssh/id_ed25519.pub
[core]
	editor = nano
	fsmonitor = true
	untrackedCache = true
[color]
	ui = true
[core]
	editor = nano
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
