# ~/.zshrc.tmpl

# ==============================
# OS-specific sections
# ==============================

{{- if eq .chezmoi.os "linux" }}
    # ---- Linux-specific configuration ----
    # Run fortune cowsay lolcat at startup
    fortune | cowsay | lolcat

    # Initialize brew
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{- else if eq .chezmoi.os "android" }}
    # ---- Android (Termux) specific configuration ----
    # Run fortune and cowsay
    fortune | cowsay

{{- else if eq .chezmoi.os "darwin" }}
    # ---- macOS-specific configuration ----
    # Run fortune cowsay lolcat at startup
    fortune | cowsay | lolcat

{{- end }}


# ==============================
# General configuration (applies to all OSes)
# ==============================

export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="passion"

# zstyle ':omz:update' mode auto      # update automatically without asking
zstyle ':omz:update' mode reminder  # just remind me to update when it's time

plugins=(zsh-autosuggestions command-not-found)

source $ZSH/oh-my-zsh.sh
